<ion-header [translucent]="true">
  <ion-toolbar color="medium" >
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons> -->
    
    <ion-title style="text-align: center;">toolbars</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> name=""</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-toolbar color="primary" style="margin-bottom: 10px;">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Follow Up Report</ion-title>
    <ion-buttons slot="end"    >
      <button ion-button fill="clear" style="background: transparent;color: white;" >
        <ion-icon class="font-bold" style="font-size: 30px;" name="filter-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    </ion-toolbar>
</ion-content>
